<!Doctype html>
<html ng-app="PersonalApp">
	<head>
        <meta name="viewport" content="width=device-width, user-scalable=no">
		<link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet"  href="css/layout.css">
		<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="js/angular.min.js" ></script>
		<script src="js/bootstrap.min.js"></script>"
        <script src="js/PersonalAppCtrl.js"></script>
		<title>Maxwell Zirbel</title>
	</head>
	<body ng-conroller="PersonalAppCtrl">
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  			<div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="#bio">
                        <img src="img/maxIcon.jpeg" style="margin-top: 5px" class="img-circle">
                        <strong style="color: white;"> Maxwell Zirbel &nbsp</strong>
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#blog">Blog</a></li>
                        <!--<li><a href='#resume'>Resume</a></li>-->
                        <li><a href='#contact'>Contact</a></li>
                    </ul>
                </div><!-- end navbar-collapse -->
            </div><!-- end container-fluid -->
		</nav>
        <!-- Bio -->
        <div class="container-fluid" id="bio">
            <div class="row">
                <div class="col-md-4 col-md-offset-2 col-sm-offset-4  col-xs-offset-3">
                    <br /> <br /> <br /> <br /> <br />
                    <img id="bioPic" class="img-responsive" src="img/maxFull.jpeg">
                </div>
                <div class="col-md-5">
                    <div class="jumbotron">
                        <h1>Hello, world!</h1>
                        <p>
                            My name is Maxwell Zirbel, I am 22 years old, and I am from Kaukauna, Wisconsin.
                            I am a passionate developer and have a great interest in web development. I am currently
                            attending Coding House, a 60 day live on site coding bootcamp in the San Fransisco Bay area.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Blog -->
        <div class="container-fluid" id="blog">
            <div ng-hide="readMore || readMore2">
                <br />
                <br />
                <div class="row">
                    <div class="col-xs-offset-5 col-md-offset-6" >
                        <h1 id="title">Blog</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-offset-1 col-md-offset-5">
                        <br />
                        <h4 id="subTitle">Web Developer | Learner | Code Enthusiast</h4>
                        <br />
                    </div>
                </div>
                <div class="row">
                    <div class=" col-md-offset-1 col-sm-4 col-md-3">
                        <div class="thumbnail" >
                            <img src="img/blog1.png" alt="">
                            <div class="caption">
                                <h3>Life in the Coding House</h3>
                                <p>Coding House is 60 day, live on site, coding bootcamp, and an experience like none other.</p>
                                <button href="#blog" ng-click="readMore = !readMore" class="btn btn-primary" role="button">Read More</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-3 col-md-offset-1">
                        <div class="thumbnail">
                            <img src="../../Desktop/ashley-package/files/images/news/stopwatch.jpeg" alt="">
                            <div class="caption">
                                <h3>How to be Productive 16 Hours a Day</h3>
                                <p>When working in a competitive field it is important to have a strategy to
                                    maximize your productivity. Living in a Coding Bootcamp has helped me to
                                    develop a strategy to meet this maximum each and every day.</p>
                                <p><button ng-click="readMore2 = !readMore2" class="btn btn-primary" role="button">Read More</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- End BLOG div -->
        <div class="container-fluid" ng-show="readMore">
            <div class="row" id="blog">
                <div id="blog">
                    <div class="col-md-offset-2 col-md-8" style="line-height: 1.5em">
                        <h1 class="col-md-offset-3 col-xs-offset-4">Life in the Coding House</h1>
                        <div>
                            <p>

                                Coding House is a 60 day live on site coding bootcamp and an experience like none other.
                                Going into Coding House I expected 60 days of nonstop code but it is much more than that.
                                There are three main aspects to Coding House: the code, the social aspects, and the relationships.
                            </p>
                            <p>
                                As you might expect, coding takes up most of the day. The mornings are all about learning the code and the afternoons are all about living the code.
                                The first thing that you will learn at Coding House is that if you think you already know that days topic, you're wrong. Learning at the Coding House
                                is nothing like learning in a typical classroom. Your class room is your home and you will learn throughout it. Your classmates are your roommates and
                                they will always push to take the extra step. Your instructor is brilliant and will lean over your shoulder to teach you until you understand every aspect.
                                Coding House is more than just code, its also about having a social presence online.
                            </p>
                        </div>
                        <div>
                            <p>
                                Before Coding House I thought that all I needed to do to get a great job was be really good at writing code, but this is far from the truth.
                                Your life changing code won't change anyone's life if nobody knows that it exists. Being active on social networks and having a social presence
                                is just as important as writing great code. Coding House will teach that you need so many LinkedIn connections that they won't even tell you how
                                many you have. Your github profile needs to be all green, dark green. Your twitter account should be always buzzing with the latest technology
                                tweets and gaining followers daily. If your wondering what a good Klout score is, it's 100. However, personal relationships are even more important
                                than your virtual ones.
                            </p>
                        </div>
                        <div>
                            <p>
                                Coding House gives you the opportunity to create and grow vital life long relationships with some amazing people. You're roommates at Coding House
                                are not only your classmates and your friends, but they are people that will help you grow throughout your professional career. Coding House will
                                also give you the opportunity to meet and connect with industry professionals, people who are masters of their domain. These relationships have the
                                potential to take you further in your career than you thought possible and are absolutely crucial to your success.
                            </p>
                        </div>
                        <div class="row">
                            <div class="col-md-offset-9">
                                <button class="btn btn-primary" ng-click="readMore = !readMore" ><span class="glyphicon glyphicon-remove"></span>Close</button>
                            </div>
                            <br /> <br />
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- end Read Blog -->
        <div class="container-fluid" ng-show="readMore2">
            <div class="row" id="blog">
                <div id="blog">
                    <div class="col-md-offset-2 col-md-8" >
                        <h1 class="col-md-offset-3 col-xs-offset-4">How to be Productive 16 Hours a Day</h1>
                        max_header.jpeg
                        <div class="row">
                            <div class="col-md-offset-9">
                                <button class="btn btn-primary" ng-click="readMore2 = !readMore2" ><span class="glyphicon glyphicon-remove"></span>Close</button>
                            </div>
                            <br /> <br />
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- end Read Blog -->
        <!-- contact -->
        <div class="container-fluid" id="contact">
            <br /><br />
            <div class="row">
                <div class="col-sm-6">
                    <p>
                        <a href="#bio" target="blank">Maxwell Zirbel | Web Developer </a>
                    </p>
                    <p>
                        Copyright 2014 | All rights reserved.
                    </p>
                </div>
                <div class="col-sm-6">
                    <ul class="pull-right socialLinks">
                        <li>
                            <a href="https://twitter.com/MaxwellZirbel" ><img alt="Twitter" src="img/twitter.png" class="socialIcon"></a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/profile/view?id=171687235&trk=nav_responsive_tab_profile"><img alt="LinkedIn" src="img/linkedin.png" class="socialIcon"></a>
                        </li>
                        <li>
                            <a href="mailto:maxwellzirbel@gmail.com"><img alt="Email" src="img/email.png" class="socialIcon"></a>
                        </li>
                        <li>
                            <a href="https://github.com/zirbem07"><img src="img/github.png" alt="Github" class="socialIcon"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
	</body>
</html>